## CMake files used in development
cmake-build-debug/
.idea/
build/

## Program files used in runtime
command
command0
command2
command3
commandsText
communication-register
log
test_results.txt
test_results_serial.txt
device

## Compiled machine codes
*.out

## Doxygen config files
Doxyfile

## Local fake devices
runtime-environment/dev/can/
runtime-environment/dev/ethernet/
runtime-environment/dev/gpio/
runtime-environment/dev/i2c/
runtime-environment/dev/spi/
runtime-environment/dev/uart/
runtime-environment/dev/usart/

## vscode config files
.vscode/

## googletest lib folder
googletest/

## python cache folders
__pycache__/

## database of spi logs retrieved in real machine
spi_data.db

## Text files contains plans to do for the next commits
todo

## input and output files of spi_processor
in
out
commands.json
commands_processed.json
commands.txt
SPI_A.txt
SPI_B.txt
SPI_A.json
SPI_A_processed.json
